<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre mi</h2>
                    <p class="large text-unmuted text-justify">My name is Monika Zatylny and I hold a BA degree in English Philology and a MA degree in Linguistics. My main fields of interest have always been phonology and becoming (being) multilingual. My graduation thesis discussed phonological problems of bilingual children aged 5-7 (Polish School at the Polish Embassy in Vienna, Austria, 2010, supervisor: dr L. Madelska (Universtiät Wien), prof. I. Bobrowski (Uniwersytet Jagielloński)), I also worked with their adult counterparts - students of the Slavonic Philology Institute at the University of Vienna, Austria (2010, supervisor: dr Liliana Madelska).</p>
                    <p class="large text-semimuted text-justify">When it comes to teaching, I was thoroughly trained in the classical grammar-translation method for various Indo-European languages but have always felt there was more to teaching and learning than just a grammar book. I soon started investigating alternative methods of work and completed a 'Tandem Intermediator Training' in bilingual Basque Country (Tandem Fundazioa, Donosti, 2007), a 'Blended Learning System Communication Method' at a nationally renowned language school in Poland (Leader School, Łódź, 2011), a vocal emission training with a singer and voice teacher Ż.Groborz-Mazanek (2013, Kraków, Poland) and a 'Improvisation in Movement' training with a dancer and actress A.Miszczor-Jobda (Kontakt, Kraków, 2015).</p>
                    <p class="large text-muted text-justify">All those inspirations and experiences gave rise to my 'Languages in Movement' teaching method which I use in my language classroom.</p>

                    
                    </br>  

                    <h4>I have so far worked with:</h4>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/leader_school.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Leader School, Kraków, Poland</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/kontaktprzestrzen.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">Kontakt Przestrzeń Ruchu i Tańca, Kraków, Poland
</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bcnlanguages.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">BCN Languages, Palma de Mallorca, Spain
</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ajuntamentandratx.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Ajutamento de Andratx, Mallorca, Spain</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ehib.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Escola d'Hoteleria de les Illes Balears, Palma de Mallorca, Spain</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>